@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
   }
   
   body{
   font-family: 'Pretendard-Regular', sans-serif;
   }
   
   input, button, textarea, select ,select > option {
    font-family: 'Pretendard-Regular', sans-serif;
}


	/* //	========== 고유리 시작 ============= // */

	/* 공통 css */
	* {margin: 0; padding: 0;}
	body {overflow-x:hidden;}
	p, span, li {font-family: 'Pretendard';}
	li::marker {content: none;}
	
	/* idex - main */
	section.main {width: 100%; background: #fffae5;}
	.main .main_img {display: flex; justify-content: flex-end; align-items: flex-end; width: 1440px; height: 900px; position: relative; margin: 0 auto;}
	.main .main_img img {width: 950px;}
	.main .main_txt {display: flex; flex-direction: column; align-self: center; position: absolute; top: 300px; left: 0; right: 0; margin: 0px auto; 
						width: 1440px; z-index: 20;}
	.main .main_txt p.bg_p {font-size: 65px; letter-spacing: 5px;
	    line-height: 80px; font-weight: bold; margin: 0 0 30px 0; color: #333;}
	.main .main_txt p.sm_p {font-size: 20px; font-weight: 500; letter-spacing: 0.5px; color: #77766f; margin: 0;} 
	.main .main_txt p b {color: #fdcb08;}
	.main .main_bt {display: flex; cursor: pointer; align-items: center; justify-content: center; width: 130px; height: 60px; margin-top: 100px;
					 border-radius: 10px; background: #fdcb08;}
	.main .main_bt p {color:#fff; font-size: 17px; letter-spacing: 0.5px;}
	.main .main_bt img {padding: 0 0 0 10px;}
	
	/* index - count */
	section.count {width: 100%; height: 340px; position: relative; box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);}
	.count .area {width: 1440px; height: 340px; margin: 0px auto; display: flex; justify-content: space-between; align-items: center; padding-left: 210px;
    				padding-right: 333px;}
	.count .area .ct_txt01 p {font-size:40px; font-weight: 600; color: #a0a0a0; letter-spacing: 1px;}
	.count .area .ct_txt01 p span {color:#000;} 
	.count .area .ct_txt02 {padding-right: 200px;}
	.count .area .ct_txt02 p {font-size: 24px; color: #a1a1a1;} 
	.count .area .ct_txt02 p span {font-size: 65px; color:#000; font-weight: 700;} 
	
	/* index - rivew */
	@font-face {
	    font-family: 'Cafe24Meongi-B-v1.0';
	    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-B-v1.0.woff2') format('woff2');
	    font-weight: normal;
	    font-style: normal;
	}
	section.rivew {background: #fffdf7; padding: 100px 0 100px 0;}
	.rivew h3 {font-family: 'Cafe24Meongi-B-v1.0'; font-size: 65px; text-align: center; margin: 0; padding: 0 0 50px 0; color: #fdcb08;}
	.rivew .rivew_cont {width:1000px; margin: 0 auto; display: flex; flex-direction: column; align-items: center;} 
	.rivew .rivew_cont ul {padding:0;}
	.rivew .rivew_cont ul li {margin-bottom: 40px;}
	.rivew .rivew_cont ul li:nth-child(1) .left_box { 
		background: url(../img/rivew_img01.png) no-repeat top right; background-position: right -25px; background-size: cover;}
	.rivew .rivew_cont ul li:nth-child(2) .left_box { 
		background: url(../img/rivew_img02.png) no-repeat top right; background-position: right -65px; background-size: cover;}
	.rivew .rivew_cont ul li:nth-child(3) .left_box { 
		background: url(../img/rivew_img03.png) no-repeat top right; background-position: right -80px; background-size: cover;}
	.rivew .rivew_cont ul li:last-child {margin-bottom: 0px;}
	.rivew .box {	 
		display: flex;
	    justify-content: flex-start;
	    align-items: flex-start;
	    gap: 25px;
	    border-radius: 30px;
	    box-shadow: 10px 10px 24px 10px hsla(0, 5%, 92%, .5);
	    background-color: #fff;
	    box-sizing: border-box;
	    padding: 35px;}
	.rivew .left_box {width:340px; height: 170px; background: #000;}
	.rivew .right_box .rb_title {display: flex; justify-content: flex-start; align-items: center; gap: 20px; margin-bottom: 16px;}
	.rivew .right_box .rb_title .best {
	    display: inline-block;
	    width: 64px;
	    border-radius: 10px;
	    background-color: #444;
	    font-size: 17px;
	    font-weight: 400;
	    line-height: 28px;
	    text-align: center;
	    letter-spacing: -.64px;
	    color: #fff;}
	.rivew .right_box p {color: #444; line-height: 25px;}
	.rivew .right_box .rb_title .addr {color: #444; font-size:17px; font-weight:500;}
	.rivew .right_box .rb_title .date {color: #d2d2d2;}
	.rivew .rivew_bt {
		display: flex;
	    cursor: pointer;
	    align-items: center;
	    justify-content: center;
	    width: 130px;
	    height: 60px;
	    margin-top: 100px;
	    border-radius: 10px;
	    color:#595858;
	    border: 1px solid #595858;}
	.rivew .rivew_bt img {padding: 0 0 0 10px; }
	
	/* banner */
	section.bn {padding: 100px 0;}
	.bn .bk_bn {width: 1400px; background: #000; height: 450px; margin: 0 auto;}
	.bn .bk_bn .img { height: 450px;
		background: url(../img/banner_img.png) no-repeat top right; background-position: right -100px;}
	.bn .bk_bn .txt { padding: 80px 0 0 90px;}
	.bn .bk_bn .txt .big_txt {color: #fff; font-size: 30px; line-height: 1.4; margin:0;}
	.bn .bk_bn .txt .small_txt {color: #b2b2b2; font-size: 17px; line-height: 1.4; margin:55px 0 0 0;}
	.bn .bn_bt {
		display: flex;
	    cursor: pointer;
	    align-items: center;
	    justify-content: center;
	    width: 130px;
	    height: 60px;
	    margin-top: 50px;
	    border-radius: 10px;
	    color:#fff;
	    border: 1px solid #fff;}
	 .bn .bn_bt img {padding: 0 0 0 10px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 고유리 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 임수아 시작 ============= // */
	.saveTableOne {width:600px; margin:150px auto; color:darkorange; }
	.saveTableOne h3 {border-bottom:1px solid #fdcb08; text-align:center; padding:10px; margin:0;}
	.saveTableOne table {width:100%; border:0px solid #fdcb08;}
	.saveTableOne table tr th {width:30%; text-align:right; border:0px solid gray;}
	.saveTableOne table tr td {width:70%; padding:10px 0 10px 1%; border:0px solid blue;}
	.saveTableOne table tr td input {border:1px solid #fdcb08; padding:3px;}
	.saveTableOne table tr td textarea {border:1px solid #fdcb08;}
	.saveTableOne table tr td select {border:1px solid #fdcb08;}
	
	.saveTableOne .saveBtnOne {width:100%; height:40px; margin-top:20px; border:2px solid #fdcb08; background-color:#fdcb08; color:white; font-size:20px;}
	
	
	.saveWS100 {width:100px;}
	.saveWS250 {width:250px;}
	/*
	.saveWS200 {width:200px;}
	.saveWS300 {width:300px;}
	.saveWS400 {width:400px;}
	.saveWS500 {width:500px;}
	.saveWS600 {width:600px;}
	.saveWS700 {width:700px;}
	.saveWS800 {width:800px;}
	.saveWS900 {width:900px;}
	*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 임수아 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 이지현 시작시작 ============= // */
	h1{
	text-align: center;
}
#FreeBoardDivTitle{
	text-align: center;
    font-weight: bold;
    font-size: 30pt;
  	margin:40px 0;
  	margin-top:190px;
}
#FreeBoardTable{
	border-collapse: collapse;
	width: 800px;
    margin: 0px auto;
    text-align: center;
    margin-bottom:100px;
}
#FreeBoardTable>thead>tr{
	background:#fffae5;
	color:darkorange;
	height: 30px;
}
/* #FreeBoardTable > thead>tr>th:first-child{
width:500px;
} */
#FreeBoardTableTitle{
	width:500px;
}
#FreeBoardTable > thead>tr>th:third-child{
width:100px;
}
#FreeBoardTable > thead>tr>th:third-child{
width:100px;
}
#FreeBoardTable > thead>tr>th:last-child{
width:100px;
}
#FreeBoardTable >thead>tr>th{
	border-top : solid 1px #fdcb08;;
	border-bottom : solid 1px #fdcb08;; 
}
/*#FreeBoardTable >tbody >tr > td:first-child{
	 text-align:left; 
}*/
#FreeBoardTable > tbody > tr{
	border-bottom:1px lightgray solid;
	height: 30px;
}

/* 버튼형식 */
.FreeBoardButton{
	background: #fffae5;
    color: #fdcb08;
    border: 1px solid #fdcb08;
    border-radius: 5px;
    cursor: pointer;
	font-size:12pt;
}

/* 페이지 번호*/
.FreeBoardPageNum{
	font-weight: bold;
    text-decoration: none;
    color: #fdcb08;
}

/* 앵커 데코레이션*/
.FreeBoardA{
	text-decoration: none;
	color:black;
}

/* 댓글*/
.FreeBoardComment{
	color:red;
	padding-left:5px;
}

/* input태그 커서 들어갔을 떄*/
#FreeBoardSearch:focus{
	background:lightyellow;
	height:19px;
}

/* td호버됐을 때 색 변경*/
#FreeBoardTable > tbody>tr:hover{
	background:lightyellow;
}

#FreeBoardSearch{
	/* height:19px; */
}

#FreeBoardFormSelect{
	font-size: 12pt;
}

.FreeBoardTitleImg{
	width:32px;
}

#FreeBoardTableButton{
	float:right;
	margin:10px;
	font-size:12pt;
	height:27px;
}
#FreeBoardFormDiv{
/* 	text-align:center; */
	margin:20px;
	border-radius: 5px;
}
#FreeBoardFormSubmit{
	
}
#FreeBoardFormTd{
	background:white;
}
#FindDongGuTagButton{
	text-align:left;
	background:white;
	padding-bottom:15px;
	width:100%;
}

.FindDongGuTagButton{
	font-size:17pt;
	margin:7px 7px;
	
}

.FindDongGuSearchDiv{
    display: flex;
    align-items: center;
    gap: 10px; /* 버튼과 폼 사이의 간격 */
}

.FreeBoardForm{
    display: flex;
    align-items: center;
    gap: 5px; /* 폼 내부 요소 간의 간격 */
}

.FreeBoardFormDivCenter{
	text-align:center;
}

/* 밑 두개는 가운데정렬을 위해*/
.FreeBoardFormDiv2{
	display: flex;
    align-items: center;
    gap: 10px; /* 폼 내부 요소 간의 간격 */
}

.FindDongGuTagButton2{
	display: flex;
    justify-content: center;
    align-items: center;
}
	/* //	========== 이지현 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	/* //   ========== 진예림 시작 ============= // */

   #jyl_body {
       display: flex; 
       justify-content: center; 
       min-height: 100vh; /* 최소 높이를 화면 전체로 설정 */
       background-color: #fffae5;
   }
   
   /* 전체 컨테이너 설정 */
   .jyl_container {
         margin-top: 130px;
       width: 1450px;
       display: flex;
       justify-content: flex-start; 
       padding: 20px;
       margin: 0, auto;
   }

   /* 사이드바 스타일 */
   .jyl_sidebar {
       width: 18%;
       background-color: #fedc56;
       padding: 30px;
       border-radius: 8px; 
       margin-right: 20px;
   }

   /* 사이드바 메뉴 스타일 */
   .jyl_menu {
       list-style: none;
       padding: 0;
       margin: 0;
   }

   .jyl_menu li {
       margin-bottom: 22px;
       margin-left: 15px;
   }

   .jyl_menu li a{
      font-family: 'Pretendard-Regular', sans-serif;
      text-decoration: none;
      color: #333;
      font-size: 17px;
   }
   
   .side_title{
      font-family: 'Pretendard-Regular', sans-serif;
      text-decoration: none;
      color: #333;
      font-size: 22px;
      font-weight: bold;
     margin-bottom: 20px;
   }

   .jyl_menu a:hover {
    color: #ffffff; 
   }


   .jyl_content {
       width: 75%;
       padding: 50px;
       background-color: #fff; 
       border-radius: 8px; 
   }
   
   .jyl_content1{
       text-align: center;  
       padding-bottom: 40px; 
       margin-bottom: 50px;
       padding-top: 80px;
   }
   
   .jyl_content1_list {
         display: flex;
       width: 100%;
       margin-bottom: 100px;
   }
   
   .jyl_content1_list1,
   .jyl_content1_list2,
   .jyl_content1_list3 {
         padding:25px;
       width: 33.33%;
       text-align: center;
       border-radius: 10px;
       margin-right:10px;
       box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
   }
   
   .jyl_content1_list1_1{
         margin-bottom: 20px;
   }
   
    .jyl_content1_list span {
        font-family: 'Pretendard-Regular', sans-serif;
      text-decoration: none;
      color: #333;
      font-size: 17px;
   }
   
   #jyl_content1_list_point {
        font-family: 'Pretendard-Regular', sans-serif;
      text-decoration: none;
      color: #333;
      font-size: 22px;
      font-weight: bold;
   }
   
   .jyl_content2, 
   .jyl_content3{
       margin-top: 30px; 
       margin-bottom: 20px;
       padding-bottom: 5px;
   }
   
   .jyl_content3_list{
         display: flex;
         width: 100%;
         margin-bottom: 50px;
   }
   
    .jyl_content3_list1 a, 
    .jyl_content3_list2 a{
       font-family: 'Pretendard-Regular', sans-serif;
       text-decoration: none;
       color: #333;
   }
   
   .jyl_content3_list1,
   .jyl_content3_list2,
   .jyl_content3_list3 {
        width: 30%;
        font-family: 'Pretendard-Regular', sans-serif;
        padding: 20px;
        background-color: #fff; 
        border-radius: 8px; 
        border: 1px solid rgb(222, 226, 230);
   }
   
    .jyl_content3_list2, 
    .jyl_content3_list3 {
       margin-left:15px;
    }
   
   
   .jyl_content2_list1,
   .jyl_content2_list2, 
    .jyl_content2_list3,
     .jyl_content2_list4{
       font-family: 'Pretendard-Regular', sans-serif;
       margin-top:25px;
       padding: 20px;
       background-color: #fff; 
       border-radius: 8px; 
       border: 1px solid rgb(222, 226, 230);
       height: 180px;
   }
   
 
    .jyl_content2_list5,
    .jyl_content2_list3_1 {
       font-family: 'Pretendard-Regular', sans-serif;
       margin-top:25px;
       padding: 20px;
       background-color: #fff; 
       border-radius: 8px; 
       border: 1px solid rgb(222, 226, 230);
       height: 180px;
       margin-bottom: 120px;
   }
   
   .jyl_list1_info{
      display: flex;
       flex-direction: column; 
       justify-content: space-between; 
       flex: 1;
       height: 130px;
   }
   
   .jyl_content2_title{
      display:flex;
      width: 100%;
      font-size: 28px;
   }
   
     .jyl_content2_title_bottom{
   	  border-bottom : 1px solid rgb(222, 226, 230);
      display:flex;
      width: 100%;
      font-size: 28px;
   }
   
   .jyl_content2_list_title1, 
   .jyl_content2_list_title2 {  

      margin-left:20px;
      margin-bottom: 15px;    
      font-weight: bold;
      font-size: 17px;
      width: 50%
   }
   
   .jyl_content2_list_title2 {  
      margin-right:20px;
      text-align: right;
   }
   
   .jyl_content2_list_title2_1{
   		color:#ff3333;
   }
   
    .jyl_content2_list_title2_2{
   		color:#4646ff;
   }
   
   .jyl_content1_title{
      font-family: 'Pretendard-Regular', sans-serif;
      font-size: 27px;

   }
   
   .jyl_content2_title, 
   .jyl_content3_title{
      font-family: 'Pretendard-Regular', sans-serif;
      font-size: 20px;
      font-weight: bold;
   }
   
   .jyl_name {
       font-weight: bold;
       font-size: 30px;
   }
   
   .jyl_grade {
       font-weight: bold;
       font-size: 30px;
       color: #47C867;
   }
   .jyl_img_margin {
   	   margin-top: 17px;
   }


   .jyl_img{
      margin-left:20px;
       float: left; 
       width: 100px;
       height: 130px;
   }
   
    .jyl_img2{
      margin-left:20px;
       float: right; 
       width: 28px;
       height: 28px;
   }
   
   .jyl_img3{
      margin-right:5px; 
       width: 25px;
       height: 25px;
   }
   
   .jyl_list1_info ul {
      height:100%;
      list-style: none; 
   }
   
   .jyl_list1_info ul li {
         position: relative;
         align-items: center; 
      height:50%;
      list-style: none; 
   }
   
   .jyl_list1_info ul li span {
       position: absolute;
       top: 25%;
         font-family: 'Pretendard-Regular', sans-serif;
   }
   
   .jyl_list1_1_title {
         font-size: 19px;
         font-weight: bold;
   }
   
   .jyl_list1_1_date {
         color: #c0c0c0;
         font-size: 15px;
   }

     /* //   ========== 진예림 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

