@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
 

	/* //	========== 고유리 시작 ============= // */

	/* ---  공통 css --- */
	* {margin: 0; padding: 0;}
	body {overflow-x:hidden;  font-family: 'Pretendard';}
	p, span, li, label, input, button, textarea, select , option, span, h1, h2, h3, tr, th, td {font-family: 'Pretendard';}
	li::marker {content: none;}
	a {text-decoration: none; color: unset;}
	
	/* --- nav css --- */
	header.dg_hd {
	    position: absolute; width:1470px; left: 50%; top: 50px; display: flex; justify-content: space-between; align-items: center; height: 80px; 
	    border-radius: 10px; transform: translate(-50%); background: #fff; transition: all .3s ease; z-index: 11;
	}
	header.dg_hd h1 a img {
	    width: 140px; margin: 10px 0 0 20px;
	}
	header.dg_hd nav > ul {
	    display: flex;
	}
	header.dg_hd nav > ul > li {
	    position: relative;
	}
	header nav > ul > li::marker {
	    content: none;
	}
	header.dg_hd nav > ul > li > a {
	    line-height: 80px; font-family: 'Pretendard'; font-size: 18px; color: #444; padding: 0 50px; transition: color .3s ease;
	}
	header.dg_hd nav > ul > li > a span {
	    display: inline-block; position: relative; line-height: 1;
	}
	header.dg_hd .util .login {
	    width:80px; height:80px; padding:0; border:0; border-radius: 0 8px 8px 0; background: url(../img/icon_login.png) no-repeat center; cursor: pointer;
	}
	header.dg_hd .util a:hover .login {
	    width:80px; height:80px; padding:0; border:0; border-radius: 0 8px 8px 0; background: url(../img/icon_login_hv.png) no-repeat center; cursor: pointer;
	}
	header.dg_hd .util div {
		    display: flex; align-items: center;
	}
	header.dg_hd .util img {
		width: 35px; margin-left: 30px; margin-right: 20px;
	}
	
	/** --- 하위 메뉴 --- */
	header.dg_hd nav > ul > li .dropdown {
	    display: none; opacity: 0; visibility: hidden; margin-top: -20px; position: absolute; background: white; width: 180px; z-index: 4; 
	    border-radius: 10px; left: 50%; transform: translateX(-50%); box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.2); transition: all 0.2s linear;
	}
	header.dg_hd nav > ul > li .dropdown::before {
	    content: ''; position: absolute; top: -6px; left: calc(50% - 5px); width: 0; height: 0; border-left: 10px solid transparent; 
	    border-right: 10px solid transparent; border-bottom: 10px solid white; z-index: 3;
	}
	header.dg_hd nav > ul > li:hover .dropdown, header.dg_hd nav > ul > li .dropdown.show {
	    display: block; visibility: visible; opacity: 1; margin-top: 0; padding: 10px 5px;
	}
	header.dg_hd nav > ul > li .dropdown p {
	    display: flex; align-items: center; justify-content: space-between; color: #444; text-align: left; padding: 0 18px; margin: -4px 0; 
	    cursor: pointer; line-height: 40px; transition: opacity .3s ease;
	}
	header.dg_hd nav > ul > li .dropdown p:hover {
	    background: rgba(253, 203, 8, 0.25); border-radius: 10px;
	}
	
	/* --- Tab --- */
	:root {
    --pagination-width: 117.5px;
    --highlight-left: 0px;
	}
	.radio-checked { 
	  position: relative; font-size: 18px; letter-spacing: 1px; box-shadow: -6px -5px 14px 3px #fff, 7px 7px 12px 2px #d0d8e3; border-radius: 70px; width: 235px; margin: 0 auto; margin-bottom: 50px; 
	}
	
	.radio-checked_input { 
	  display: none; 
	}
	
	.radio-checked_input:checked + .radio-checked_label--on { 
	  color: #444; /*text-shadow: 0 0 7px rgba(71, 207, 115, 0.6);*/ 
	}
	
	.radio-checked_input:checked + .radio-checked_label--off { 
	  color: #444; /*text-shadow: 0 0 7px rgba(255, 60, 65, 0.6);*/ 
	}
	
	.radio-checked_input:checked + .radio-checked_label:before { 
	  display: none; 
	}
	
	.radio-checked_label { 
	  font-family: 'Cafe24Meongi-B-v1.0'; cursor: pointer; display: inline-block; padding: 20px 25px 15px; line-height: 1; border-radius: 3rem; color: #acb2c0; transition: all 150ms ease-in-out; 
	}
	
	.radio-checked_label:before { 
	  content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: block; 
	}
	
	.radio-checked_container { 
	  position: relative; 
	}
	
	.radio-checked_highlight { 
	  position: absolute; left: 0; bottom: 0; width: var(--pagination-width); height: 100%; border-radius: 70px; box-shadow: inset -5px -5px 10px 4px #fff, inset -2px 6px 8px 6px #d0d8e3; background: #eef3f7; transition: all 0.6s ease; transform: translateX(var(--highlight-left)); 
	}
	
	.svg { 
	  position: absolute; top: -50%; bottom: -50%; pointer-events: none; 
	}
	
	.svg_icon { 
	  width: auto; height: 100%; 
	}
	
	.svg--right { 
	  left: 100%; 
	}
	
	.svg--left { 
	  right: 100%; 
	}

	
	/* --- idex > main --- */
	section.main {
	    width: 100%; background: #fffae5;
	}
	.main .main_img {
	    display: flex; justify-content: flex-end; align-items: flex-end; width: 1440px; height: 900px; position: relative; margin: 0 auto;
	}
	.main .main_img img {
	    width: 950px;
	}
	.main .main_txt {
	    display: flex; flex-direction: column; align-self: center; position: absolute; top: 300px; left: 0; right: 0; margin: 0px auto; width: 1440px; z-index: 20;
	}
	.main .main_txt p.bg_p {
	    font-size: 65px; letter-spacing: 5px; line-height: 80px; font-weight: bold; margin: 0 0 30px 0; color: #333;
	}
	.main .main_txt p.sm_p {
	    font-size: 20px; font-weight: 500; letter-spacing: 0.5px; color: #77766f; margin: 0;
	}
	.main .main_txt p b {
	    color: #fdcb08;
	}
	.main .main_bt {
	    display: flex; cursor: pointer; align-items: center; justify-content: center; width: 130px; height: 60px; margin-top: 100px; border-radius: 10px; background: #fdcb08;
	}
	.main .main_bt p {
	    color: #fff; font-size: 17px; letter-spacing: 0.5px;
	}
	.main .main_bt img {
	    padding: 0 0 0 10px;
	}
	
	/* --- index > count --- */
	section.count {
	    width: 100%; height: 340px; position: relative; box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
	}
	.count .area {
	    width: 1440px; height: 340px; margin: 0px auto; display: flex; justify-content: space-between; align-items: center; padding-left: 210px; padding-right: 333px;
	}
	.count .area .ct_txt01 p {
	    font-size: 40px; font-weight: 600; color: #a0a0a0; letter-spacing: 1px;
	}
	.count .area .ct_txt01 p span {
	    color: #000;
	}
	.count .area .ct_txt02 {
	    padding-right: 200px;
	}
	.count .area .ct_txt02 p {
	    font-size: 24px; color: #a1a1a1;
	}
	.count .area .ct_txt02 p span {
	    font-size: 65px; color: #000; font-weight: 700;
	}
	
	/* --- index > rivew --- */
	@font-face {
	    font-family: 'Cafe24Meongi-B-v1.0'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-B-v1.0.woff2') format('woff2'); font-weight: normal; font-style: normal;
	}
	section.rivew {
	    background: #fffdf7; padding: 100px 0 100px 0;
	}
	.rivew h3 {
	    text-align: center; margin: 0; padding: 0 0 50px 0;
	}
	.rivew h3 img {
	    width: 250px;
	}
	.rivew .rivew_cont {
	    width: 1000px; margin: 0 auto; display: flex; flex-direction: column; align-items: center;
	}
	.rivew .rivew_cont ul {
	    padding: 0;
	}
	.rivew .rivew_cont ul li {
	    margin-bottom: 40px;
	}
	.rivew .rivew_cont ul li .left_box {
	    background: url(../img/rivew_img01.png) no-repeat top right; background-position: 0; background-size: cover;
	}
	/**.rivew .rivew_cont ul li:nth-child(2) .left_box {
	    background: url(../img/rivew_img02.png) no-repeat top right; background-position: right -65px; background-size: cover;
	}
	.rivew .rivew_cont ul li:nth-child(3) .left_box {
	    background: url(../img/rivew_img03.png) no-repeat top right; background-position: right -80px; background-size: cover;
	}*/
	.rivew .rivew_cont ul li:last-child {
	    margin-bottom: 0px;
	}
	.rivew .box {
	    display: flex; justify-content: flex-start; align-items: flex-start; gap: 25px; border-radius: 30px; box-shadow: 10px 10px 24px 10px hsla(0, 5%, 92%, .5); background-color: #fff; box-sizing: border-box; padding: 35px;
	}
	.rivew .left_box {
	    width: 340px; height: 170px; background: #000;
	}
	.rivew .right_box .rb_title {
	    display: flex; justify-content: flex-start; align-items: center; gap: 20px; margin-bottom: 16px;
	}
	.rivew .right_box img {
	    margin-bottom: 16px;
	}
	.rivew .right_box .rb_title .best {
	    display: inline-block; width: 64px; border-radius: 10px; background-color: #444; font-size: 17px; font-weight: 400; line-height: 28px; text-align: center; letter-spacing: -.64px; color: #fff;
	}
	.rivew .right_box p {
	    color: #444; line-height: 25px;
	}
	.rivew .right_box .rb_title .addr {
	    color: #444; font-size: 17px; font-weight: 500;
	}
	.rivew .right_box .rb_title .date {
	    color: #d2d2d2;
	}
	.rivew .rivew_bt {
	    display: flex; cursor: pointer; align-items: center; justify-content: center; width: 130px; height: 60px; 
	    margin-top: 100px; margin: 0 auto; margin-top: 100px; border-radius: 10px; color: #595858; border: 1px solid #595858;
	}
	.rivew .rivew_bt img {
	    padding: 0 0 0 10px;
	}
	
	/* --- banner --- */
	section.bn {
	    padding: 100px 0;
	}
	.bn .bk_bn {
	    width: 1400px; background: #000; height: 450px; margin: 0 auto;
	}
	.bn .bk_bn .img {
	    height: 450px; background: url(../img/banner_img.png) no-repeat top right; background-position: right -100px;
	}
	.bn .bk_bn .txt {
	    padding: 80px 0 0 90px;
	}
	.bn .bk_bn .txt .big_txt {
	    color: #fff; font-size: 30px; line-height: 1.4; margin: 0;
	}
	.bn .bk_bn .txt .small_txt {
	    color: #b2b2b2; font-size: 17px; line-height: 1.4; margin: 55px 0 0 0;
	}
	.bn .bn_bt {
	    display: flex; cursor: pointer; align-items: center; justify-content: center; width: 130px; height: 60px; margin-top: 50px; border-radius: 10px; color: #fff; border: 1px solid #fff;
	}
	.bn .bn_bt img {
	    padding: 0 0 0 10px;
	}


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 고유리 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 임수아 시작 ============= // */

	.saveTableOne {width:600px; color:darkorange; margin:150px auto;}

	.saveTableOne h3 {border-bottom:1px solid #fdcb08; text-align:center; padding:10px; margin:0;}
	.saveTableOne table {width:100%; border:0px solid #fdcb08;}
	.saveTableOne table tr th {width:30%; text-align:right; border:0px solid gray;}
	.saveTableOne table tr td {/*width:70%;*/ padding:10px 0 10px 1%; border:0px solid blue;}
	.saveTableOne table tr td input {border:1px solid #fdcb08; padding:3px;}
	.saveTableOne table tr td textarea {border:1px solid #fdcb08;}
	.saveTableOne table tr td select {border:1px solid #fdcb08;}
	
	.saveTableOne .saveBtnOne {width:100%; height:40px; margin-top:20px; border:2px solid #fdcb08; background-color:#fdcb08; color:white; font-size:20px; cursor:pointer;}
	.saveTableOne .btnType1 {float:right; width:100px; height:23px; border:2px solid #fdcb08; background-color:#fdcb08; color:white; font-size:10px; 
								margin-right:30px; cursor:pointer;}
	
	.saveBtnType_1 {background: white; color: #fdcb08; border: 1px solid #fdcb08; border-radius: 5px; font-size:12px; cursor: pointer;}
	.saveBtnTypeClick_1 {background: #fdcb08; color: white; border: 1px solid #fdcb08; border-radius: 5px; font-size:12px; cursor: pointer;}
	.saveBtnTypeClick_2 {background: #fdcb08; color: white; border: 1px solid #fdcb08; border-radius: 5px; font-size:12px;}
	
	.animal_nature {display:inline-block; padding:5px; margin-left:5px; background: #fdcb08; color: white; border: 1px solid #fdcb08; border-radius: 5px; font-size:12px;}
	
	.margin_tbtype1 {margin:50px auto 50px;}
	
	.findTableOne {width:600px; margin:0px auto 100px; color:darkorange; }
	.span_go_page {width:100%; display:inline-block; text-align:center; margin-top:20px; cursor:pointer;}
	.writeImgSize {width:100%;}
	
	.saveWS40 {width:40px;}
	.saveWS60 {width:60px;}
	.saveWS100 {width:100px;}
	.saveWS250 {width:250px;}
	.saveWS260 {width:260px;}
	.saveWS100p {width:100%;}
	
	.saveHS100 {height:100px;}
	
	.mt100 {margin-top:100px;}
	/*
	.saveWS200 {width:200px;}
	.saveWS400 {width:400px;}
	.saveWS500 {width:500px;}
	.saveWS600 {width:600px;}
	.saveWS700 {width:700px;}
	.saveWS800 {width:800px;}
	.saveWS900 {width:900px;}
	*/
	
	.dpib {display:inline-block;}
	
	
	
	.s_joinTableOne {width:800px; height:500px; margin:200px auto; }
	.s_joinTableOne > * {float:left; width:49%; height:350px; margin:0px 0 0 0; text-align:center; cursor:pointer; border:2px solid #fdcb08;}
	.s_joinTableOne .jto_left {background-color:#fdcb08; color:white;}
	.s_joinTableOne .jto_right {color:#fdcb08;}
	.s_joinTableOne div img {margin:30px 0 0 0;}
	.s_joinTableOne div span {display:inline-block; margin-left:-60px; font-size:30px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 임수아 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/* //	========== 이지현 시작시작 ============= // */
	h1{
	text-align: center;
}
#FreeBoardDivTitle{
	text-align: center;
    font-weight: bold;
    font-size: 21pt;
  	margin:40px 0;
  	margin-top:190px;
  	
}

#FreeBoardDivTitle2{
	width: 800px; 
  	display: flex; 
  	align-items: center; 
  	margin: 0 auto; 
  	margin-top: 220px; 
  	position: relative; 
  	margin-bottom: 20px; 
  	justify-content:  space-between;
  	font-weight: bold;
    font-size: 21pt;
	
}
#FreeBoardTable{
	border-collapse: collapse;
	width: 800px;
    margin: 0px auto;
    text-align: center;
    margin-bottom:100px;
}
#FreeBoardTable>thead>tr{
	background:#fffae5;
	color:darkorange;
	height: 30px;
}
/* #FreeBoardTable > thead>tr>th:first-child{
width:500px;
} */
#FreeBoardTableTitle{
	width:400px;
}
#FreeBoardTable > thead>tr>th:second-child{
width:200px;
}
#FreeBoardTable > thead>tr>th:third-child{
width:200px;
}
#FreeBoardTable > thead>tr>th:last-child{
width:170px;
}
#FreeBoardTable >thead>tr>th{
	border-top : solid 1px #fdcb08;;
	border-bottom : solid 1px #fdcb08;; 
}
/*#FreeBoardTable >tbody >tr > td:first-child{
	 text-align:left; 
}*/
#FreeBoardTable > tbody > tr{
	border-bottom:1px lightgray solid;
	height: 30px;
}

/* 버튼형식 */
.FreeBoardButton{
	background: #fffae5;
    color: #fdcb08;
    border: 1px solid #fdcb08;
    border-radius: 5px;
    cursor: pointer;
	font-size:12pt;
}

/* 페이지 번호*/
.FreeBoardPageNum{
	font-weight: bold;
    text-decoration: none;
    color: #fdcb08;
}

/* 앵커 데코레이션*/
.FreeBoardA{
	text-decoration: none;
	color:black;
}

/* 댓글*/
.FreeBoardComment{
	color:red;
	padding-left:5px;
}

/* input태그 커서 들어갔을 떄*/
#FreeBoardSearch:focus{
	background:lightyellow;
	height:19px;
}

/* td호버됐을 때 색 변경*/
#FreeBoardTable > tbody>tr:hover{
	background:lightyellow;
}

#FreeBoardSearch{
	/* height:19px; */
}

#FreeBoardFormSelect{
	font-size: 12pt;
}

.FreeBoardTitleImg{
	width:32px;
}

#FreeBoardTableButton{
	float:right;
	margin:10px;
	font-size:12pt;
	height:27px;
}
#FreeBoardFormDiv{
/* 	text-align:center; */
	margin:20px;
	border-radius: 5px;
}
#FreeBoardFormSubmit{
	
}
#FreeBoardFormTd{
	background:white;
}
#FindDongGuTagButton{
	text-align:left;
	background:white;
	padding-bottom:15px;
	width:100%;
}

.FindDongGuTagButton{
	font-size:17pt;
	margin:7px 7px;
	
}

.FindDongGuSearchDiv{
    display: flex;
    align-items: center;
    gap: 10px; /* 버튼과 폼 사이의 간격 */
}

.FreeBoardForm{
    display: flex;
    align-items: center;
    gap: 5px; /* 폼 내부 요소 간의 간격 */
}

.FreeBoardFormDivCenter{
	text-align:center;
}

/* 밑 두개는 가운데정렬을 위해*/
.FreeBoardFormDiv2{
	display: flex;
    align-items: center;
    gap: 10px; /* 폼 내부 요소 간의 간격 */
}

.FindDongGuTagButton2{
	display: flex;
    justify-content: center;
    align-items: center;
}

.DeTailDongGuMainDiv{
	background-color:#fffae5 ; 
	border-radius:10px;
	margin-top:50px;
	width: 1100px;
    margin: 0px auto;
    margin-bottom:50px;
    
    background-image: url('../img/DetailDongGuBG.png'); 
    /* url('../img/detailDongGuBackGround.jpg');  */
    background-size: cover;
    background-position: bottom;/* 배경 이미지가 중앙에 위치하도록 */
    padding: 20px; /* 요소들이 배경 이미지와 떨어지도록 패딩 추가 */
    position: relative; /* 배경 이미지 위에 요소들이 위치하도록 */
}
#DetailDongGuTitleDiv{
	text-align:center;
	font-size: 27pt;
    padding-top: 38px;
    color:#444;
    font-weight: 600;
}
.DetailDongGuImg{
	width: 350px; 
    height: 350px;
    border-radius: 43px;
}
#DetailDongGuInfoDiv{
	margin-top:70px;
	display: flex; 
	align-items: center;
	margin-bottom:50px;
	padding-bottom:50px;
	margin-left: 50px;
}
#DetailDongGuContentDiv{
	margin-left: 100px;
	font-size:15pt;
	color:#333;
}
#DetailDongGuContentDiv>div{
	margin-bottom:10px;
}

#DetailDongGuButton{
	margin-top:30px;
}
#DetailDongGuButton >span{
	font-size:20pt;
}
.DetailDongGuJoinButton{
	font-size:17pt;
	background: #fdc408;
    border: 0px;
    border-radius: 6px;
    text-align: center;
    padding: 5px 5px;
    color : white;
    cursor: pointer;
    margin-left: 10px;
}
#DetailDongGuCountNum{
	color:#6600ff;
	font-weight: 600;
}


#WriteFreeBoardMainDiv{
	border: 1px solid #eee; 
	border-radius: 12px; 
	width:800px; 
	margin:0px auto; 
}

#WriteFreeBoardTitleInput{
 	border: 0px;
    padding: 30px 20px;
    border-radius: 25px;
    background-color: #f5f6f8;
    width: -webkit-fill-available;
    margin: 20px;
    font-size: 20pt;
    outline: none;
}
#WriteFreeBoardContent{
    font-size: 17pt;
    resize: none;
    border: 0px;
    height: 600px;
    width: 710px;
    padding: 40px 40px;
    outline: none;
}

#WriteFreeBoardContentDiv{
	border:1px solid #eee; 
	margin-top:10px;
}

#WriteFreeBoardSubmitButton{
	background: #fffae5;
    color: #fdcb08;
    border: 1px solid #fdcb08;
    border-radius: 5px;
    cursor: pointer;
	font-size: 18pt;
    width: 60px;
    height: 42px;
}

#WriteFreeBoardImgDiv{
	width:800px; 
	margin:0px auto; 
	margin-bottom:100px;
}

#WriteFreeBoardImgDiv2{
	border: 1px solid #eee; 
	margin-top: 10px; 
	border-radius: 10px;
}

.WriteFreeBoardInputImg{
	font-size:12pt;
}

#showFreeBoardImgDiv img {
  width: 300px;
  height: 300px;
  margin-top:20px;
}
#showFreeBoardImgDiv3 >img{
	  width: 300px;
  height: 300px;
  padding:10px 10px;
}
.showFreeBoardImg >img{
	 width: 300px;
  height: 300px;
  margin-top:20px;
}
#DetailQnABoardContentDiv{
	font-size: 17pt;
    resize: none;
    border: 0px;
    height: fit-content;
    width: 710px;
    padding: 40px 40px;
    outline: none;
    margin-bottom: 50px;
}
#BoardMargin{
	margin-bottom:60px;
	margin-top:190px;
}
#DetailBoardTitle{
	border: 0px;
    border-radius: 25px;
    width: -webkit-fill-available;
    margin: 20px;
    font-size: 25pt;
    outline: none;
    font-weight: 600;
    padding-top: 0px;
    margin-top: 10px;
    padding-left:20px;
}

#DetailBoardSubject{
	
    border: 0px;
    border-radius: 25px;
    width: -webkit-fill-available;
    outline: none;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 14px;
}
.DetailBoardSubject{
	
	text-decoration: none;
	color: orange;
}
#DetailBoardInfo{
	border: 0px;
    border-radius: 25px;
    width: -webkit-fill-available;
    outline: none;
    padding-left: 30px;
    margin-left: 14px;
}
#DetailBoardImg{
	height:300px;
	width:300px;
	padding: 40px 40px;
}   
#searchTitle{
	font-size: 20pt;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background:white;
}   
#ReWriteButton{
	float:left;
	margin:10px;
	font-size:12pt;
	height:27px;
}

#QnABoardTitle{
	border-collapse: collapse;
	width: 800px;
    margin: 0px auto;
    text-align: left;
    margin-bottom:100px;
}
.QnABoardMarginleft{
    margin-left: 30px;
}

#QnABoardWidthWriter{
	width:300px;
}
#QnABoardWidthVcnt{
	width:130px;
}
#QnABoardWidthDate{
	width:170px;
}
.heartIconSize{
	width:25px; 
	cursor:pointer;
}
.QnABoardNextBeforeSpan{
	color:gray; 
	padding-right:15px;
}
.QnABoardNextBeforeSizeDiv{
	width: 800px;  
	margin: 0px auto; 
	font-size: 15pt;
	
}

.QnABoardMarginDiv{
	margin-top: 30px;
    margin-bottom: 50px;
}

.QnABoardTopMarginDiv{
	margin-top: 30px;
	margin-bottom:10px;
}

.QnABoardTopMarginDivText{
	margin-top: 90px;
	margin-bottom:10px;
	font-size: 17pt;
	font-weight: 500;
}
.QnABoardBottomMarginDiv{
	margin-bottom: 50px;
}
#NoticeTitleCenter{
	border-collapse: collapse;
    width: 800px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 100px;
}

#commentAddStyle{
	border: none; 
	resize: none; 
	outline: none; 
	width: 100%;  
	height: 100px;
	margin-top: 13px;
    font-size: 12pt;
}

#showFreeBoardImgDiv2 img {
  width: 100px;
  height: 100px;
  margin-top:20px;
}

.commentTopDiv{
	border:2px #e5e5e5 solid; 
	padding: 20px; 
	border-radius: 6px; 
	margin: 30px;
}

#commentTitleSpan{
	font-size:13pt;
	margin-bottom: 10px; 
	font-weight: 700;
}

#commentLabel{
	cursor: pointer; 
	display: inline-block; 
	margin-top: 10px;
}

#commentBachiDiv{
	display: flex; 
	justify-content: 
	space-between; 
	align-items: center; 
	margin-top: 10px;
}

#commetAddButton{
	margin-left: auto;
	width: 46px; 
	height: 30px;
}

#FreeBoardTable >tbody > tr > td{
	padding:7px;
}

.delete_icon{
	
}

.linkDeco{
	text-decoration:none;
}
.linkDeco:hover{
	cursor: pointer;
	color:orange!important;
	/* font-size:13pt; */
	font-weight:500;
}

#DetailDongGuInfoDiv2{
	margin-top: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    background: #fff;
    padding: 30px;
}

.spanColor{
	color: white;
    background: skyblue;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
}
#DetailDongGuButton2{
	margin-top: 30px;
    margin-bottom: 25px;
}
#spanSizeDe{
	font-size: 18pt;
    font-weight: 500;
}
#DetailDongGuContentDiv li{
	margin-bottom:10px;
	
}

	/* //	========== 이지현 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	/* //   ========== 진예림 시작 ============= // */

   #jyl_body {display: flex; justify-content: center; min-height: 100vh; background-color: #fffae5;}  
   .jyl_container {margin-top: 130px; width: 1450px; display: flex; justify-content: flex-start; padding: 20px; margin: 0, auto;}


   .jyl_sidebar { width: 18%; background-color: #fedc56; padding: 15px; padding-top: 35px;  border-radius: 8px; margin-right: 30px;}
   .jyl_menu {list-style: none; padding: 0;margin: 0; position: relative;}
   .jyl_menu li {position: relative;}
   .jyl_menu li a {font-weight: bold; text-decoration: none; font-size: 17px; transition: color 0.3s, background-color 0.3s; display: block; padding: 5px 10px; border-radius: 5px; height:30px; padding-left: 30px; padding-top: 12px;}
   .side_title {text-decoration: none; color: #333; font-size: 17px; font-weight: bold; margin-bottom: 20px; display: block; padding: 5px 10px; border-radius: 5px;}
   .jyl_menu a:hover{background-color: #fdcb33; border-radius: 8px;}
   .jyl_menu_check {background-color: #fdc009; border-radius: 8px;}
   .jyl_menu_check a span{color: #ffffff;}   
   .jyl_submenu a:hover{background-color: #fdcb33; border-radius: 8px;}
   .jyl_submenu_check{margin-left: 17px; background-color: #fdc009; border-radius: 8px;}
   .jyl_submenu_check a span{color: #ffffff;} 
   .submenu {display: block; list-style: none; padding: 0; max-height: 0;overflow: hidden; transition: max-height 0.3s ease;}
   .submenu li, .submenu1 li {margin-left: 17px; margin-bottom: 10px;}
   .submenu li a, .submenu1 li a{font-family: 'Pretendard-Regular'; font-weight: bold; text-decoration: none; font-size: 17px}
   #submenu_last{margin-bottom: 27px;}
   .submenu1 {display: block; list-style: none; padding: 0; max-height: 0;overflow: hidden; transition: max-height 0.3s ease;}
   .jyl_menu1 .submenu1 {display: block; max-height: none;}
  

   .jyl_content {width: 75%; padding: 50px; background-color: #fff;  border-radius: 8px;}  
   .jyl_memberlevel{margin-top:40px; display: flex; justify-content: center; text-align: center;}
   .jyl_memberlevellist {list-style-type: none; display: flex; justify-content: center;}
   .image-container {position: relative;display: inline-block;}
   .jyl_memberlevel_img{margin-bottom:30px; width: 200px; height: 200px;}
   .jyl_memberleve_msg span {font-weight: bold; font-size: 20px; padding:8px;}
   .jyl_memberlevel_medal {margin-top:12px; margin-bottom: 12px;}	
   .jyl_memberlevel_medal span {font-weight: bold; font-size: 25px; padding:8px; color: #ff8040;}
	
	
   .jyl_info_short{margin-top:40px; margin-bottom:100px; display: flex; justify-content: center;}  
   #jyl_info_short1{ width:70%; text-align: center; border: 1px dotted #8290e3; border-radius: 20px;  background-color: #FAFBFF; padding: 10px;}
   #jyl_info_short1_summary{font-size: 21px; color:#7c83c5; padding: 15px;}
   #jyl_info_short1_span{font-size: 18x; color:#8290e3;font-weight: bold;}
   #jyl_info_short1_month span{font-size: 17px; color:#7c83c5;}	
   #jyl_info_short2{display:flex; text-align: center;padding: 10px;}
   #jyl_info_short3{width:15%; text-align: center;}	
   .jyl_info_short3_img{margin-top:15px; width: 50px; height: 50px;}	
   #jyl_info_short4{width:85%;text-align: left;}
   #jyl_info_short4_spandiv{margin-left:10px; padding: 10px;}
   #jyl_info_short4_span{font-size: 14px; color: black; font-weight: bold;}	
   .jyl_label{margin-left:10px;width: 10%;}	
   .jyl_label1{font-size: 14px;	font-weight:bold; color:#8290e3;}	
   .jyl_label2{font-size: 14px; font-weight:bold; color:#a7a7a7;}	
   .jyl_label3{font-size: 14px; font-weight:bold; color: #fdcb08;}


   .jyl_content1{margin-top: 10px; margin-bottom: 50px;}
   .jyl_content2, .jyl_content3{ margin-top: 80px;  margin-bottom: 20px; padding-bottom: 5px;}
   .jyl_content2_title, .jyl_content3_title{ width: 100%; font-size: 20px; font-weight: bold; color:black; margin-left: 10px;}
   .jyl_content2_list{margin-top:43px; background-color: #fff;  border-radius: 8px;  border: 1px solid rgb(222, 226, 230); height: 257px;}   
   .jyl_content2_list1{margin-top:25px; background-color: #fff;  border-radius: 8px;  border: 1px solid rgb(222, 226, 230); height: 257px;}
   .jyl_content2_list2{margin-top:25px; background-color: #fff;  border-radius: 8px;  border: 1px solid rgb(222, 226, 230); height: 250px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
   .jyl_my_arremptyimg{width: 150px; height: 150px;}
   .jyl_my_arrempty1{font-weight: bold; font-size: 17px; color:#a7a7a7;}
   .jyl_my_arrempty2{font-weight: bold; font-size: 17px; color:#a7a7a7;}
   .jyl_content2_title_bottom{border-bottom : 1px solid rgb(222, 226, 230); display:flex; width: 100%; font-size: 28px;}   
   .jyl_content2_list_title1, .jyl_content2_list_title2 {margin-left:25px;margin-right:25px; padding:15px; font-weight: bold; font-size: 18px; width: 50%}   
   .jyl_content2_list_title2 {margin-right:20px; text-align: right;}   	
   .jyl_content2_list_title2_1{font-weight: bold; font-size: 18px; color:#fbb206;}   
   .jyl_content2_list_title2_2{font-weight: bold; font-size: 18px; color:#ff3333;}   
   .jyl_content2_list_title2_3{font-weight: bold; font-size: 18px; color:#1313f1e0;}
   .jyl_content2_list_title2_4{font-weight: bold; font-size: 18px; color:#fb06db;}
   .jyl_content2_list_title2_5{font-weight: bold; font-size: 18px; color:#1ac31a;}   	
   .jyl_content2_list_area{display: flex;}
   .jyl_img_div {width:18%; padding:15px; padding-right: 5px;}  	
   .jyl_list1_info{display:flex; justify-content:space-between; flex: 1;}  
   .jyl_list1_info1{width: 85%; padding: 15px; padding-left: 5px;}
   .jyl_list1_info1_1 {padding: 15px; padding-top: 20px; padding-bottom: 10px;}
   .jyl_list1_info1_title {font-size: 20px; font-weight: bold;}
   .jyl_list1_info2{width: 14%; padding: 17px; display:flex; align-items: center; justify-content: center; flex-direction: column; text-align: center;}
   .jyl_list1_info1_nature {font-size: 17px; color:#8e8e8e; margin-right:10px; padding: 10px; background-color:#fff; border-radius: 20px; border: 1px solid rgb(222, 226, 230);}
   .jyl_list1_info1_3{padding: 10px; padding-left: 15px; padding-top: 5px;}
   .jyl_list1_info1_date {color: #8e8e8e; font-size: 16px;}   
   .jyl_list1_info1_2 {display:flex; text-align:center; padding: 10px;	padding-left: 10px;}   
   .jyl_list1_info2_btn1, .jyl_list1_info2_btn2, .jyl_list1_info2_btn3 {font-size:18px; padding: 10px; margin: 5px 0; border-radius: 5px; background-color: #FAFBFF; color: #8290e3; border: 1px dotted #8290e3; cursor: pointer; transition: background-color 0.3s ease;}
   .jyl_content3_list{display: flex; width: 100%; margin-bottom: 50px;}
   .jyl_content3_list1, .jyl_content3_list2, .jyl_content3_list3 {display:flex; width: 30%; font-weight:bold; padding: 20px; background-color: #fff; border-radius: 8px; border: 1px solid rgb(222, 226, 230);}   
   .jyl_content3_list2, .jyl_content3_list3 {margin-left:15px;}  
   .jyl_content3_list1_1{width: 12%;}   
   .jyl_content3_list1_2{padding-top:5px; padding-left:15px; width: 76%;}  
   .jyl_content3_list1_3{width: 12%;}    
   .jyl_animal{width: 28px; height: 28px;}
   .jyl_content3_list1 span, .jyl_content3_list2 span, .jyl_content3_list3 span{font-size:16px; color: #333;}
   .jyl_img2{ margin-left:20px; float: right;  width: 28px; height: 28px;}
   .jyl_paging2{padding:30px;}
   .jyl_paging2{display: flex;align-items: center; justify-content: center; text-align: center;}
   .jyl_paging_btn{width:24px; height:24px; padding: 10px; margin: 5px; border-radius: 5px; background-color: #fedc56; color: #fff; border: none;transition: background-color 0.3s ease;}
   .jyl_paging_btn span{font-weight:bold;}
   .jyl_paging_btn:hover { background-color: #ffa346;}
   .jyl_paging_btn_active {background-color: #fbbd02;}
    
  
   .jyl_content4_list{margin-top:43px; background-color: #fffae5;  border-radius: 8px;  border: 1px dotted #fdc009; height: 270px;}   
   .jyl_content4_list1, .jyl_content4_list2, .jyl_content4_list3, .jyl_content4_list4{display: flex;}
   .jyl_content4_list1_div1{padding:20px; padding-top: 35px; margin-left:20px;}
   .jyl_content4_list1_div2 {padding:10px; padding-top: 37px;}
   .jyl_content4_list1_span1 {font-weight:bold; color:black; font-size: 20px;}
   .jyl_content4_list1_span2, .jyl_content4_list2_span2, .jyl_content4_list3_span2 {color: #8e8e8e; font-size: 15px;}
   .jyl_content4_list2_div1, .jyl_content4_list3_div1{padding-top:19px; margin-left:35px; padding-right: 13px;}
   .jyl_content4_list2_div2, .jyl_content4_list3_div2{padding-top: 20px;}
   .jyl_content4_list2_img, .jyl_content4_list3_img {width: 25px; height: 25px;}
   .jyl_content4_list4 {justify-content: space-between;}
   .jyl_content4_list4_div1{position: relative; display: flex; flex: 1; padding:10px; padding-left: 33px; padding-top:15px;}
   .jyl_content4_list4_div1_1 {position: relative; width:85px; text-align:center; font-size:15px; padding:10px; margin-top:10px; margin-right:17px; border-radius: 100px; background-color: #ffffff; color: #fdc009; border: 1px solid #fdc009; cursor: pointer; transition: background-color 0.3s ease;}
   .jyl_content4_list4_div1_1 .jyl_overlay {position: absolute; top: -12px; right: -12px; background-color: #fee170; padding: 5px 10px; border-radius: 50%; color: #ffffff; font-size: 15px; font-weight: bold;}
   .jyl_content4_list4_div1_1 .jyl_overlay span{font-weight: bold;}
   .jyl_content4_list4_div1_1 span {font-size:16px; font-weight: bold;}   
   .jyl_content4_list4_div2 {display: flex; padding:10px; padding-top:15px; padding-right: 30px;}
   .jyl_content4_list4_div2_btn {width:85px; text-align:center; font-size:15px; padding: 10px; margin-top:10px; border-radius: 5px; background-color: #fedc56; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s ease;}
   .jyl_content4_list4_div2_btn span {font-weight: bold;}
   .jyl_content4_list4_div2_btn:hover {background-color: #e0a030;}
	
	
   .jyl_content5_list{margin-top:43px; background-color: #fffae5;  border-radius: 8px;  border: 1px dotted #fdc009; height: 1470px;}   
   .jyl_content5_list1{display: flex; margin-bottom: 30px;}
   .jyl_content5_list1_div1{padding:10px; width:75%; }
   .jyl_content5_list1_div1_1{padding:20px; margin-left: 60px; margin-top: 60px;}
   .jyl_content5_list1_div1_1 span{font-size:19px; font-weight: bold; color:black;}
   .jyl_content5_list1_div1_2, .jyl_content5_list1_div1_4{padding:20px; margin-left: 60px;}
   .jyl_content5_list1_div1_3{padding:17px; margin-left: 55px;}
   .jyl_content5_list1_div1_4 { display: flex;}  
   .jyl_content5_list1_div1_2 span{font-size:18px; font-weight: bold; color:black;}
   .jyl_content5_list1_div1_3_1{width:120px; margin-right: 60px; padding:10px; border: none; text-align: center; border-radius: 5px; background-color: #fedc56; color: #fff; cursor: pointer; transition: background-color 0.3s ease;}  
   .jyl_content5_list1_div1_3_1:hover {background-color: #e2a743;}     
   .jyl_content5_list1_div1_3_1 span{font-size:16px; font-weight:bold; color:#6b6b6b;}
   .jyl_content5_list1_div1_4 span{font-size:16px; color:black;}
   .jyl_content5_list1_div2{padding:10px; width:25%; margin-top: 60px; margin-right: 70px;}   
   .jyl_content5_list1_div2_1_img{width:240px; height: 260px;  border: 1px dotted #fdc009; border-radius: 20px; background-color: white;}
   .jyl_content5_list1_div4_1{ margin-right: 60px;}
   .jyl_content5_list2{margin-top:30px;}
   .jyl_content5_list2_div1 {margin-top:30px; margin-left:60px; padding: 20px;}
   .jyl_content5_list2_div1 span{font-size:19px; font-weight:bold; color:black;}
   .jyl_content5_list2_div2 {margin-left:60px; padding: 20px;}
   #jyl_m_applyupdate, #jyl_m_applylook {width: 850px; height:150px; border: 2px solid #fdc009; padding:16px; border-radius: 8px;font-size:18px;  font-family: 'Pretendard'; color:#808080;}
   #jyl_m_applyupdate:focus {border: 4px solid #fdc009;outline: none; padding:16px;}
   #jyl_m_applylook:focus {border: 1px solid #fdc009;outline: none; padding:16px;}
   .jyl_content5_list3{padding:40px; display:flex; justify-content: center;}   
   .jyl_btn {font-family: 'TTLaundryGothicB', sans-serif; padding: 10px 20px; border-radius: 5px; background-color: #f0c040; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s ease; margin: 5px; width: 87px; height: 35.5px;}
   .jyl_btn:hover {background-color: #e0a030;}
   
   
	.jyl_content1_1{margin-top: 10px; margin-bottom: 30px;}
	.like_category{display: flex;}
    .like_category_list {font-family: 'Pretendard-Regular', sans-serif; font-size: 15px; color:#8e8e8e; margin-right:15px; margin-bottom: 30px; padding: 10px; background-color: #fff; border-radius: 20px; border: 1px solid rgb(222, 226, 230);}
	.like_array{display: flex;width: 100%;flex-wrap: wrap; box-sizing: border-box;}
	.jyl_like_list{width: calc(33.33% - 12px); font-family: 'Pretendard-Regular', sans-serif; box-sizing: border-box; padding: 5px;}
    .jyl_like_list:not(:nth-child(3n)) {margin-right: 18px;}
    .jyl_likeimg_margin {position: relative; display: flex; justify-content: center; width: 100%;}	
    .jyl_likeimg_heart {position: absolute; top: 18px;  right: 25px;  width: 25px;  height: 25px;}
	.jyl_likeimg {display: block; border-radius: 10px;margin-bottom:20px;width: 310px;  height: 350px;}
	.jyl_like_list1_info {font-family: 'Pretendard-Regular', sans-serif; font-size: 15px; margin-bottom: 50px; padding-left: 15px; padding-right: 13px;}  
    .jyl_like_info1{margin-bottom: 7px;}
    .jyl_like_info_title {font-size: 17px; font-weight: bold;}
    .jyl_like_info_date, .jyl_like_info_star, .jyl_like_info_invitation, .jyl_like_info_application, .jyl_like_info_name{font-size: 16px; color: #8e8e8e;}
    .jyl_likestar_img, .jyl_likeinvitation_img, .jyl_likeapplication_img{width: 15px; height: 15px;}
	.jyl_likeownerimg, .jyl_likepetsitterimg {display: block; border-radius: 10px; margin-bottom:20px; width: 280px;  height: 280px; border: 1px dotted #d5dadf; border-radius: 10px; padding: 15px;}
	.jyl_likeimg_margin10, .jyl_likeimg_margin20 {position: relative; display: flex; justify-content: center; width: 100%;}	
	.jyl_like_list1_info_10, .jyl_like_list1_info_20 {font-family: 'Pretendard-Regular', sans-serif; font-size: 15px; margin-bottom: 50px; padding-left: 20px; padding-right: 13px;}  
	.jyl_like_content{margin-top:25px; background-color: #fff;  border-radius: 8px;  border: 1px solid rgb(222, 226, 230); height: 550px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
    .jyl_like_border{box-sizing: border-box; position: relative; display:flex; width: calc(50% - 11px); background-color: #fff;  border-radius: 8px;  border: 1px solid rgb(222, 226, 230); height: 180px; margin-bottom: 22px;}	
	.jyl_like_border:nth-of-type(odd) {margin-right: 22px;}
	.jyl_like_border:nth-of-type(even) {margin-right: 0;}
	.jyl_like_freeinfo{padding: 30px; display: flex; flex-direction: column; justify-content: center;}
	.jyl_like_freeinfo ul li {padding: 3px;}
	.jyl_likeimg_boardheart {position: absolute; top: 17px; right: 17px; width: 25px; height: 25px;}
	.category_selected {background-color: #eee;}	
	.jyl_like_freeinfo1{margin-top: 7px; margin-bottom: 7px;}
	.jyl_freelikeimg_margin {padding: 25px; padding-right:0px; position: relative; display: flex; flex-direction: column; justify-content: center;}	
	.jyl_freelikeimg {border: 1px solid rgb(222, 226, 230); display: block; border-radius: 10px; width: 130px; height: 135px;}
	
	
	.jyl_infoupdate{margin-top: 30px; text-align: center;}
	#jyl_joinul {list-style: none; padding: 0; text-align: center; display: flex; flex-direction: column; justify-content: space-around;}
	.jyl_inputlist {margin-bottom: 20px;display: flex;align-items: center;justify-content: center;}
	.jyl_inputlist i {font-family: 'TTLaundryGothicB', sans-serif; width: 100px; text-align: left; margin-right: 1px;}
    @font-face {font-family: 'TTLaundryGothicB'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2'); font-weight: 700; font-style: normal;}
    .jyl_inputlist input[type="text"], .jyl_inputlist input[type="password"]{ width: 250px;}
    .jyl_inputlist input[type="text"], .jyl_inputlist input[type="password"], .jyl_inputlist input[type="radio"] { font-family: 'TTLaundryGothicB', sans-serif; padding: 10px; margin: 5px; border-radius: 5px; border: 1px solid #ccc;}
	.jyl_inputlist input[type="text"]:focus {border: 3px solid #fedc56; outline: none; }
	.jyl_inputlist_readonly{background-color: #e8e8e8;}
	.jyl_inputlist input[type="submit"] {background-color: #f0c040; color: white; border: none; cursor: pointer; transition: background-color 0.3s ease;}
	.jyl_inputlist input[type="button"]{background-color: #ffa67b; color: white; border: none; cursor: pointer; transition: background-color 0.3s ease; width:87px; margin-left:10px;}	
	.jyl_inputlist input[type="button"]:hover, .jyl_inputlist input[type="submit"]:hover { background-color: #e0a030;}
	.jyl_radio_group {display: flex; align-items: center; width: 285.33px; height: 37px;}
	.jyl_radio_group label {font-family: 'TTLaundryGothicB', sans-serif; font-size: 14px;}
	#jyl_radio_male, #jyl_radio_nosmoke{font-family: 'TTLaundryGothicB', sans-serif; font-size: 14px; margin-left: 10px;}
	.jyl_infoupdate_img{border-radius: 50%; margin-bottom:30px; width: 280px;	height: 280px; border: 1px solid rgb(222, 226, 230);}
	.jyl_infoupdate_img2{width: 30px;	height: 30px;	position: absolute; bottom: 35px;  right: 5px; cursor: pointer;}
	.jyl_resign{font-family: 'TTLaundryGothicB', sans-serif; font-size: 13px; font-weight: 100; color: #a8a8a8; text-decoration: underline;}
	.jyl_infoupdate_hidden{width: 8wndqh0px;}
	
	
	#jyl_check{
    font-family: 'TTLaundryGothicB', sans-serif;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
	}


	

	
	
	
	
	
	
	
	#jyl_memberlevel1, 
	#jyl_memberlevel2{
    list-style: none;
    padding: 0;
    text-align: center;
	}
 
    .jyl_content2_list5{
       font-family: 'Pretendard-Regular', sans-serif;
       margin-top:25px;
       padding: 20px;
       background-color: #fff; 
       border-radius: 8px; 
       border: 1px solid rgb(222, 226, 230);
       height: 180px;
       margin-bottom: 120px;
   }
   
   
   .jyl_content1_title{
      font-family: 'Pretendard-Regular', sans-serif;
      font-size: 27px;

   }
   
   
   .jyl_name {
       font-weight: bold;
       font-size: 30px;
   }
   
   .jyl_grade {
       font-weight: bold;
       font-size: 30px;
       color: #47C867;
   }
   
  


   
    
   
   .jyl_boardlist_img{
       float: right; 
       width: 150px;

       
   }


   .jyl_img{
       padding:10px;
       padding-left:20px;
       float: left; 
       width: 150px;
       height: 150px;
       
   }
   

   .jyl_img3{
      margin-right:5px; 
       width: 25px;
       height: 25px;
   }
   

   
   
   
  
   
   
   
   
   .like_point {
	   font-weight: bold;
	   color: #7a7a7a;
   }
   
  
   
    .like_category2{
   	display: flex;
   
   }
   
   .like_category_list2 {
       font-family: 'Pretendard-Regular', sans-serif;
       font-size: 13px;
       color:white;
       margin-left:10px;
       margin-bottom: 20px;
       padding: 10px;
       background-color: #444; 
       border-radius: 20px; 
       border: 1px solid #444;
   }
   
    
   .like_category_list3 {
   	   width:110px;
       font-family: 'Pretendard-Regular', sans-serif;
       font-size: 16px;
       color:white;
       margin-left:22px;
       margin-bottom: 20px;
       margin-top: 10px;
       padding: 10px;
       background-color: #444; 
       border-radius: 20px; 
       border: 1px solid #444;
   }
   
   .like_category_list4 {
   	   width:97px;
       font-family: 'Pretendard-Regular', sans-serif;
       font-size: 16px;
       color:white;
       margin-left:30px;
       margin-bottom: 20px;
       margin-top: 10px;
       padding: 10px;
       background-color: #444; 
       border-radius: 20px; 
       border: 1px solid #444;
   }
   
   
  
	
	
	  
   .jyl_boardList {
   	   display:flex;
       font-family: 'Pretendard-Regular', sans-serif;
       margin-top:25px;
       padding: 20px;
       background-color: #fff; 
       border-radius: 8px; 
       border: 1px solid rgb(222, 226, 230);
       height: 160px;
   }
   
   .jyl_boardList_info{
   		width:85%;
   		padding: 15px;
   }
   
     .jyl_boardList_info2{
   		width:100%;
   		padding: 15px;
   }

	.jyl_boardList_info_category {
	   font-family: 'Pretendard-Regular', sans-serif;
	   font-weight: bold;
	   font-size: 18px;
	   padding:8px;
	   margin-bottom: 12px;
	   color: #ff8040;
	}
	
	.jyl_boardList_info_category span {
	   font-family: 'Pretendard-Regular', sans-serif;
	   font-weight: bold;
	   font-size: 18px;
	   margin-bottom: 12px;
	   color: #ff8040;
	   align-items: center;
	}
	
	.jyl_boardList_info_title {
	   font-family: 'Pretendard-Regular', sans-serif;
	   font-weight: bold;
	   font-size: 18px;
	   margin-bottom: 15px;
	   color: #555555;
	}
	
	.jyl_reviewList {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}
	
	.jyl_reviewList_list1 {
	   display:flex;
	   width: 48%;
	   font-family: 'Pretendard-Regular', sans-serif;
	   margin-right:8px;
	   margin-left:8px;
       margin-top:25px;
       background-color: #fffae5; 
       border-radius: 8px; 
       border: 1px solid #fffae5;
       height: 280px;
       box-sizing: border-box;
       padding: 5px;
       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	}
	
	.jyl_reviewList_list2 {
	   display:flex;
	   width: 48%;
	   font-family: 'Pretendard-Regular', sans-serif;
	   margin-right:8px;
	   margin-left:8px;
       margin-top:25px;
       background-color: #fffae5;
       border-radius: 8px; 
       border: 1px solid #fffae5;
       height: 280px;
       box-sizing: border-box;
       padding: 5px;
       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	}
	
	.jyl_reviewList_img{
		border-radius: 10px; 
		margin-top:20px;
      	margin-bottom:20px;
      	margin-left:20px;
        float: left; 
        width: 228px;
        height: 228px;
	}
	
	.jyl_reviewList_content{
		margin-top:20px;
	    margin-bottom:20px;
	    margin-left:20px;
	    width: 195px;
        height: 250px;
	}
	
	.jyl_reviewList_content_category {
	   font-family: 'Pretendard-Regular', sans-serif;
	   font-weight: bold;
	   font-size: 18px;
	   margin-bottom: 15px;
	   color: #555555;
	}
	
	.reviewlist_img {
		margin-left: 15px;
		margin-bottom:7px;	
	}
	
	.jyl_reviewList_content_page{
		padding: 10px;
		color: #77766f;
	}
	
	
	

	


	
	
	
	
	
	.jyl_memberlevel_moreInfo {
       font-family: 'Pretendard-Regular', sans-serif;
       font-size: 13px;
       color:#8e8e8e;
       padding: 10px;
       width:100px;
       border-radius: 20px; 
       border: 1px solid rgb(222, 226, 230);
       display: flex; 
       justify-content: center; 
       margin-top: 2px;
   }
   

   
   .jyl_memberlevel_more{
		 margin-top:25px;
   		 display: flex;
   		 justify-content: center; 
   }
   
   #jyl_memberlevel2{
   		   width:60%;
           text-align: center;
           border: 1px solid #ffdeca;
           border-radius: 20px; 
           background-color: #fffdf9;
	}
	
	.jyl_memberlevel_predict{
		margin-top:12px;
	   	margin-bottom: 12px;
	}
	
	.jyl_memberlevel_span1{
		font-family: 'Pretendard-Regular', sans-serif;
       	font-size: 14px;
       	color:#b2b2b2;
	}
	
	.jyl_memberlevel_span2{
		font-family: 'Pretendard-Regular', sans-serif;
       	font-size: 14px;
       	color:black;
       	font-weight: bold;
	}
	
	.jyl_memberlevel_span3{
		font-family: 'Pretendard-Regular', sans-serif;
       	font-size: 14px;
       	color:black;
       	font-weight: bold;
	}
	
	.jyl_memberlevel2_hr{
		margin: 0 auto;
		width: 90%;
		border: none; 
    	border-top: 1px solid #ffdeca; 
	}
	
	.jyl_memberlevel2_hr2div{
		padding: 20px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	
	.jyl_memberlevel2_hr2{
		margin: 0 auto;
		width: 90%;
		border: none; 
    	border-top: 1px solid rgb(222, 226, 230); 
	}
	
	.jyl_memberlevel_msg{
		margin-top:12px;
	   	margin-bottom: 12px;
	}

	.jyl_memberlevel_advantage{
		margin-top:12px;
	   	margin-bottom: 12px;
	}	
	
	.jyl_memberlevel_advantage span{
		font-family: 'Pretendard-Regular', sans-serif;
       	font-size: 12px;
       	color:#ef7014;
       	font-weight: bold;
	}	
	
	  #jyl_memberlevel3 {
   		   width:80%;
           text-align: left;
	}
	
	.jyl_memberlevel3_title{
		font-family: 'Pretendard-Regular', sans-serif;
       	font-size: 15px;
       	color:#3d3d3d;
       	font-weight: bold;
	}
	
	#jyl_memberlevel4 {
   		   width:80%;
           text-align: center;
           border: 1px solid #e5e7eb;
           border-radius: 20px; 
           overflow: hidden;
	}
	
	.jyl_memberlevel_more1{
			display:flex;
			width:100%;
			background-color: #f5f5f5;
	}
	
	.jyl_memberlevel_more2{
			display:flex;
			width:100%;
	}
	
	.jyl_memberlevel_more1_1{
			border-top-left-radius: 20px; 
			padding: 20px;
			width:30%;
			font-family: 'Pretendard-Regular', sans-serif;
       		font-size: 13px;
	}
	
	.jyl_memberlevel_more1_1 span,
	.jyl_memberlevel_more1_2 span{
			font-family: 'Pretendard-Regular', sans-serif;
       		font-size: 13px;
       		color:#999;
	}
	
	
	.jyl_memberlevel_more1_2{
			border-top-right-radius: 20px; 
			padding: 20px;
			width:70%;
			font-family: 'Pretendard-Regular', sans-serif;
       		font-size: 13px;
	}
	
	.jyl_memberlevel_more2_1{		
			padding: 20px;
			width:30%;
	}
	
	.jyl_memberlevel_more2_2{		
			padding: 10px;
			width:70%;
			font-family: 'Pretendard-Regular', sans-serif;
			font-size: 13px;
	}
	
	.jyl_memberlevel_more2_img{
		width: 80px;
       	height: 80px;       
	}
	
	.jyl_memberlevel_more2_2_hr{
		margin: 0 auto;
		width: 90%;
		border: none; 
    	border-top: 1px solid #e5e7eb; 
	}
	
	.jyl_memberlevel_more2_2_hr2{
		margin: 0 auto;
		width: 90%;
		border: none; 
    	border-top: 1px solid #e5e7eb; 
    	margin-bottom: 15px;
	}
	
	.jyl_memberlevel_more2_2_1{
		padding: 10px;
	}
	
	.jyl_memberlevel_more2_2_1 span{
		font-family: 'Pretendard-Regular', sans-serif;
       	font-size: 13x;
       	color:#999;
       	font-weight: bold;
	}
	
	.jyl_memberlevel_more2_2_2,
	.jyl_memberlevel_more2_2_3{
		padding: 5px;
	}
	
	.jyl_memberlevel_more2_2_2 span,
	.jyl_memberlevel_more2_2_3 span{
		font-family: 'Pretendard-Regular', sans-serif;
       	font-size: 13px;
		color:#7c83c5;
	}
	
	
	
	
	
	
	.jyl_login_logo{
		width: 200px;
	
	}

     /* //   ========== 진예림 끝 ============= // */
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

